# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
*~
*.swp
*.bak
*.old

# Dependencias (si las hay)
node_modules/
__pycache__/

# IDEs / editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
